<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse w-full">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">
        @if (isSignUpFormActive) {
          Register now!
        } @else {
          Login now!
        }
      </h1>
      <p class="py-6">Please enter your details!</p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      @if (isSignUpFormActive) {
        <app-sign-up-form
          (navigateToForm)="isSignUpFormActive = false"
        ></app-sign-up-form>
      } @else {
        <app-sign-in-form
          (navigateToForm)="isSignUpFormActive = true"
        ></app-sign-in-form>
      }
    </div>
  </div>
</div>
